
<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="{% static 'js/main.js' %}"></script>

    <title>Bazzan</title>
  </head>

  <body>
      {% block body %}{% endblock %}
      {% block js %}{% endblock %}
  </body>

</html>
